<div class="container">
<h1 class="title">{{title | uppercase}}</h1>

  <div class="column-4">
    
    <div class="card" (click)="changehouse('gryffindor')" >
      <img src="/assets/img/gryffindor.png"/>
      <h3>House of<br>GRYFFINDOR</h3>
      <h5>Members: {{gryffindor.length}}</h5>
    </div>
   
    <div class="card" (click)="changehouse('hufflepuff')"> 
      <img src="/assets/img/hufflepuff.png"/>
      <h3>House of<br>HUFFLEPUFF</h3>
      <h5>Members: {{hufflepuff.length}}</h5>
    </div>
    <div class="card" (click)="changehouse('slytherin')">
      <img src="/assets/img/slytherin.png"/>
      <h3>House of<br>SLYTHERIN</h3>
      <h5>Members: {{slytherin.length}}</h5>
    </div>
    <div class="card" (click)="changehouse('ravenclaw')">
      <img src="/assets/img/ravenclaw.png"/>
      <h3>House of<br>RAVENCLAW</h3>
       <h5>Members: {{ravenclaw.length}}</h5>
    </div>
  </div>
</div>
<app-students [house]="thehouse"  ></app-students>
